.container{
    
    
    .mat-toolbar{
        display: flex;
        justify-content: space-around;
        
    
        a{
            color: white;
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
        }
    
    
        .active{
            background-color: rgb(230, 6, 6);
        }

        i{
            outline: none;
            cursor: pointer;
        }
    }
}