<div class="top">
  <a href="https://github.com/msalomonsson/group-project-angular" target="_blank"><i class="fab fa-github"></i></a>
  <a href="https://www.google.com/" target="_blank"><i class="fab fa-google"></i></a>
</div>

<div class="text-container">
  <h2 class="title">Angular Team</h2>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem expedita aspernatur blanditiis vitae tenetur sunt obcaecati vero quo nihil ipsa maxime beatae doloribus, consectetur soluta reprehenderit. Minima ducimus corrupti exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi asperiores id ipsam voluptatum placeat quam architecto. Nobis perspiciatis nam fuga blanditiis eos! Culpa, officia corporis! Est sequi corrupti amet obcaecati! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio cum eligendi enim incidunt assumenda magnam ab adipisci repellat, vel ipsa quibusdam ratione similique sint, recusandae blanditiis eum debitis corporis ipsam.</p>
  <i class="fas fa-users"></i>
</div>




<div class="container">
    <mat-card class="card" *ngFor="let personal of personals" >
        <mat-card-header>
            <img mat-card-avatar class="header-img" src="{{personal.image}}" alt="">
            <mat-card-title>{{personal.name}}</mat-card-title>
            <mat-card-subtitle>{{personal.abbr}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              {{personal.description}}
            </p>
            <i class="fas fa-phone"></i>
          </mat-card-content>
    </mat-card>
</div>


