<h1> Contact Us With Your Feedback! </h1>

<!-- Feedback form -->
<div [hidden]="submitted" >
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
    <label [ngClass]="{'red-class': !contactForm.controls.fullName?.valid, 'green-class':contactForm.controls.fullName?.valid}">Enter your name</label>
    <input type = "text" name = "fullName" placeholder = "Marco Blake" formControlName="fullName" required [ngClass]="{'red-class': !contactForm.controls.fullName?.valid, 'green-class':contactForm.controls.fullName?.valid}">
    <br/>
  
    <label 
    [ngClass]="{'red-class': !contactForm.controls.email?.valid, 'green-class':contactForm.controls.email?.valid}">
      Enter your email
    </label>
    <input type = "email" name = "email" placeholder = "king@hotmail.com" formControlName="email" required 
    [ngClass]="{'red-class': !contactForm.controls.email?.valid, 'green-class':contactForm.controls.email?.valid}">
    <br/>
  
    <label [ngClass]="{'red-class': !contactForm.controls.message?.valid, 'green-class':contactForm.controls.message?.valid}">Enter your feedback</label>
    <textarea ng-enter="onSubmit()" name = "message" placeholder = "Your message" formControlName="message" [ngClass]="{'red-class': !contactForm.controls.fullName?.valid, 'green-class':contactForm.controls.fullName?.valid}" ></textarea>
    <br/>
    <button mat-raised-button color='warn' type="submit" [disabled]="!contactForm.valid">Submit</button>
  </form>
</div>

<!-- Show Feedback container -->
<div [hidden]="!submitted">
  <div class="showFeedback" >
    <h2>Your submitted the following:</h2>
    <ul>
      <li><h3>Name:</h3>
        <h4>{{this.contactForm.value.fullName}}</h4>
      </li>
      <li>
        <h3>Email:</h3>
        <h4>{{this.contactForm.value.email}}</h4>
      </li>
      <li>
        <h3>Message:</h3>
        <h4>{{this.contactForm.value.message}}</h4>
      </li>
    </ul>
    <button mat-raised-button color='warn' type="button" (click)=goback()>Go Back</button>
  </div>
</div>


<!-- Info container -->
<div class="info">
  <mat-card>
    <a href="https://www.google.se/maps/place/Systembolaget/@56.8793439,14.7984063,16.75z/data=!4m13!1m7!3m6!1s0x4657238ca5dbdf4f:0xb57da623c8694530!2sStorgatan+34,+352+31+V%C3%A4xj%C3%B6!3b1!8m2!3d56.8795061!4d14.800827!3m4!1s0x4657238b5091ce1d:0xe34126dd73118f62!8m2!3d56.8798199!4d14.7996636" target="_blank"><i class="far fa-map"></i></a>
    <!-- <Address>
      Storgatan 34
      <br>
      Växjö 35234
      <br>
      Sweden
    </Address> -->
  </mat-card>
  <mat-card>
    <a href="tel:123-456-7890p123"><i class="fas fa-phone"></i></a>
  </mat-card>
  <mat-card>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
  </mat-card>
  <mat-card>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
  </mat-card>
</div>


