h1{
    background-color: rgb(230, 6, 6);
    color: white;
    text-align: center;
    padding:6px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type=text],
    input[type=email],
    textarea,
    select{
        width:50%;
        padding: 1rem;
        box-sizing:border-box;
        background-color:rgb(236, 236, 236);
        border: solid 1px rgb(230, 6, 6);
    }
    textarea{
        height: 6rem;
    }
}

.showFeedback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    border: solid 1px rgb(230, 6, 6);

    h2{
        text-align: center;
    }

    ul{
        list-style: none;
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        li{
            padding: .7rem 0;
        }

        li::first-letter {
            text-transform: capitalize;
        
        }
    }
}