h1{
    background-color: rgb(230, 6, 6);
    color: white;
    text-align: center;
    padding:6px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type=text],
    input[type=email],
    textarea,
    select{
        width:30%;
        padding: 1rem;
        box-sizing:border-box;
        background-color:rgb(236, 236, 236);
        border: solid 1px black;
        border-radius: 25px;
        outline: none;
    }
    textarea{
        height: 6rem;
    }
}

.showFeedback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    border: solid 1px rgb(230, 6, 6);
    border-radius: 25px;

    h2{
        text-align: center;
    }

    ul{
        list-style: none;
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;

        h4::first-letter {
            text-transform: capitalize;
        }
    }

    button{
        margin-bottom: 2rem;
    }
}


.info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    
    
    mat-card{
        min-width: 150px;
        min-height: 100px;
        text-align: center;
        border: solid 1px black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 25px;

        .fa-map, .fa-phone,.fa-facebook,.fa-instagram {
            font-size: 2rem;
            display: flex;
            justify-content: center;
            color: rgb(230, 6, 6);
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
    
}

@media only screen and (max-width: 680px) {
    form{
        input[type=text],
        input[type=email],
        textarea,
        select{
            width:60%;
            
        }
        textarea{
            height: 6rem;
        }
    }
}