/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@font-face {
    font-family: NotoSansJp;
    src: url(./assets/fonts/NotoSansJP-Regular.otf) format('truetype');
}


*{
    font-family: 'NotoSansJp', Tahoma, Geneva, Verdana, sans-serif;
}


html, body { height: 100%; }
body { 
    margin: 0;
}
