.container{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;



    .fa-angular{
        display: flex;
        justify-content: center;
        font-size: 5rem;
        
        color: rgb(230, 6, 6);
    }

    h1{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3rem;

    }

    p {
        text-align: center;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 2rem;
    }
    ul{
        text-align: center;
    }
    li{
        list-style-type: none;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}