<div class="container">
    <i class="fab fa-angular"></i>
    <div>
        <h1>Angular</h1>
            <p>Angular is a platform and framework for building         single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.
            The architecture of an Angular application relies on certain fundamental concepts. The basic building blocks of the Angular framework are Angular components that are organized into NgModules. NgModules collect related code into functional sets; an Angular app is defined by a set of NgModules. An app always has at least a root module that enables bootstrapping, and typically has many more feature modules.</p>
    </div>
    <div class="container">
        <h1>Directive</h1>
        <p>There are three kinds of directives in Angular:</p>
        <ul>
            <li>1.Components—directives with a template.</li>
            <li>2.Structural directives—change the DOM layout by adding and removing DOM elements.</li>
            <li>3.Attribute directives—change the appearance or behavior of an element, component, or another directive.</li>
        </ul>
        <p>
            Components are the most common of the three directives. You saw a component for the first time in the Getting Started tutorial.
            Structural Directives change the structure of the view. Two examples are NgFor and NgIf. Learn about them in the Structural Directives guide.              
            Attribute directives are used as attributes of elements. The built-in NgStyle directive in the Built-in directives guide, for example, can change several element styles at the same time.</p>
    </div>
    <div class="container">
        <h1>Binding</h1>
        <p>Data binding automatically keeps your page up-to-date based on your application's state. You use data binding to specify things such as the source of an image, the state of a button, or data for a particular user.</p>
    </div>
    <div class="container">
        <h1>Service</h1>
        <p>Components shouldn't fetch or save data directly and they certainly shouldn't knowingly present fake data. They should focus on presenting data and delegate data access to a service.</p>
    </div>
    <div class="container">
        <h1>Route</h1>
        <p>A configuration object that defines a single route. A set of routes are collected in a Routes array to define a Router configuration. The router attempts to match segments of a given URL against each route, using the configuration options defined in this object.</p>
    </div>
</div>